# Xilinx/Vivado artifacts
*.bit
*.mcd
*.ngc
*.jou
*.log
*.wdb
*.xpr

# Vivado build dirs
dsp_final.runs/
dsp_final.cache/
dsp_final.hw/
dsp_final.ip_user_files/

# Python
__pycache__/
*.pyc

# OS/editor
.DS_Store
*.swp
